@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&family=Montserrat:wght@100;300;400;600;700;900&display=swap');

:root {
  --cor-primaria: #8B0000;
  --cor-secundaria: #5A3D28;
  --cor-destaque: #D4A018;
  --cor-fonte: #FFFFFF;
  --cor-fundo: #F5F5F5;
  --fonte-serif: "Playfair Display", serif;
  --font-sans-serif: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans-serif);
}

body {
  background: #ffffff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
}


header {
  color: var(--cor-fonte);
  padding: 1%;
  text-align: center;
  background-color: var(--cor-primaria);
  height: 200px;
  width: auto;
  background-image: url('../imagens/imagens-reservas/Screenshot_4.png');
  background-size: cover;
  background-position: center;
}

header h1 {
  font-family: var(--fonte-serif);
  font-size: 3.5rem;
  margin-top: 18px;
  color: var(--cor-fonte);
}

header a{
  color: var(--cor-fonte);
  text-decoration: none;
  transition: 0.5s;
}

header a:hover{
  color: #5c0000;
}

header p {
  font-size: 20px;
  font-style: italic;
  color: var(--cor-fonte);
  font-weight: 600;

}

.container {
  max-width: 750px;
  margin: 2rem auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.301);
}

.container h2 {
  font-family: var(--fonte-serif);
  color: var(--cor-primaria);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

form {
  display: grid;
  gap: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
  color: #5c0000;
}

input,
select,
textarea {
  width: 100%;
  padding: 2.5%;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #a50000;
  box-shadow: 0 0 5px rgba(165, 0, 0, 0.2);
}

button {
  color: var(--cor-fonte);
  padding: 10px 22px;
  border: 1px solid var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 15px;
}

button:hover {
  background-color: var(--cor-destaque);
}


.success-message {
  color: var(--cor-primaria);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
  min-height: 1.5em; /* evita “pulo” do layout */
  margin-bottom: 40px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1.5rem;
  }

  header h1 {
    font-size: 2.2rem;
  }

  .container h2 {
    font-size: 1.6rem;
  }
}