* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF3E6;
}

.titulo {
  text-align: center;
  padding: 2% 0 3% 0;
}

.titulo h2 {
  font-size: 14px;
  font-weight: 500;
  color: #4F2C1D;
}

.titulo h1 {
  font-size: 56px;
  color: #4F2C1D;
  padding-bottom: 25px;
}

.titulo button {
  color: #30170c;
  padding: 8px 22px;
  border: 1px solid #4F2C1D;
  background-color: #fa202f77;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}


/*FOTOS DO INSTA*/
.fotos-insta {
  text-align: center;
}

.fotos-insta img {
  width: 100%;
  width: 250px;
}

.fotos-insta .linha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  gap: 8px;
  padding: 4px;
}
