:root {
  --cor-primaria: #800000;
  --cor-secundaria: #4F2C1D;
  --cor-destaque: #a77813;
  --cor-fonte: #ffffff;
  --cor-fundo: #fff3e6cb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER*/
header {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  z-index: 10;
  display: flex;
  align-items: center;
}

header h1{
  color: var(--cor-fonte);
  font-size: 38px;
}

header button{
  justify-content: center;
  color: var(--cor-fonte);
  padding: 8px 10px;
  border: 1px solid var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
  margin-left: 20px;
}

nav {
  width: 100%;
  display: flex;
  font-size: 18px;
  padding-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: auto;
}

nav a {
  display: flex;
  position: relative; 
  color: var(--cor-fonte);
  text-decoration: none;
  font-weight: 600;
  padding: 0px 12px;
  transition: color 0.3s ease;
  cursor: pointer;
}

nav a::after {
  content: "";
  position: absolute;
  left: 50%; 
  bottom: -3px; 
  width: 0; 
  height: 2px; 
  background-color: var(--cor-destaque); 
  transition: width 0.4s ease-out, left 0.4s ease-out;
}

nav a:hover::after {
  width: 100%; 
  left: 0; 
}

nav a:hover {
  color: var(--cor-destaque);
}

/*SECTION HOME*/
#home {
  padding-top: 20px;
  width: 100%;
  height: 97vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--cor-fundo);
}

.carrossel {
  width: 96%;
  max-width: 3000px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carrossel-track {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 30s infinite;
}

.carrossel-track img {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes slide {
  0% { transform: translateX(0%); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}

#home h1{
  color: black;
  z-index: 999;
  justify-content: center;
  margin: auto;
}

/*SECTION INSTA*/
#insta{
  background-color: var(--cor-fundo);
  padding: 4% 0;
}

.titulo {
  text-align: center;
  padding-bottom: 3%;
}

.titulo h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--cor-secundaria);
}

.titulo h1 {
  font-size: 56px;
  color: var(--cor-secundaria);
  padding-bottom: 25px;
}

.titulo button {
  color: var(--cor-fonte);
  padding: 10px 22px;
  border: 1px solid var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.titulo button:hover{
  transform: scale(1.05);
}

/*fotos do insta*/
.fotos-insta {
  text-align: center;
}

.fotos-insta .linha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  gap: 8px;
  padding: 4px;
}

.fotos-insta img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  display: block;
}

.fotos-insta .imagem{
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: var(--cor-fonte);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.overlay i{
  text-align: center;
}

.imagem:hover .overlay {
  opacity: 1;
}

/*SECTION RESERVAS*/
#reserva{
  background-color: var(--cor-fundo);
  padding-bottom: 8%;
}

#reserva h1{
  font-size: 27px;
  color: var(--cor-secundaria);
  text-align: center;
  padding: 20px;
}

#reserva .localizacao{
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-bottom: 40px;
  font-weight: 600;
}

#reserva .localizacao button{
  color: var(--cor-fonte);
  padding: 12px 22px;
  border: none;
  background-color: var(--cor-primaria);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in;
}

#reserva .localizacao button:hover{
  background-color: rgb(255, 0, 0);
}

#reserva .whatsapp{
  display: flex;
  margin: auto;
  
  color: var(--cor-fonte);
  padding: 12px 22px;
  border: none;
  background-color: var(--cor-primaria);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in;
}


