* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #F5F5F5;
    color: #000000;
    line-height: 1.6;
}

header {
    background: #FFFFFF;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #8B0000;
}

header h1 a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 28px;
    color: #8B0000;
    transition: 0.5s;
}

header h1 a:hover {
    color: #D4A018;
}

header i {
    font-size: 26px;
    color: #5A3D28;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #5A3D28;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #8B0000;
}


main {
    padding: 40px;
}

.menu-categoria {
    margin-bottom: 60px;
}

.menu-categoria h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 20px;
    color: #8B0000;
    border-left: 5px solid #8B0000;
    padding-left: 15px;
}

.prato {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 12px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.prato img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;

}

.prato h3 {
    margin: 15px 0 5px 0;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}

.prato p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}

.prato div {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: rgba(128, 128, 128, 0.5);
    color: #000000;
    padding: 30px 0px 20px;
}

.container-rodape {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

.coluna {
    flex: 1 1 300px;
}

.copy {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: var(--cor-fonte);
}


@media (max-width: 768px) {
    .prato {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}