*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 80px;
  margin: auto;
  font-size: 17px;
}

nav a {
  display: inline-block;
  position: relative; 
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
  transition: color 0.3s ease;
  cursor: pointer;
}

nav a::after {
  content: "";
  position: absolute;
  left: 50%; 
  bottom: -3px; 
  width: 0; 
  height: 2px; 
  background-color: #926709; 
  transition: width 0.4s ease-out, left 0.4s ease-out;
}

nav a:hover::after {
  width: 100%; 
  left: 0; 
}

nav a:hover {
  color: #926709;
}

.pizza img {
  padding-top: 6%;
  width: 16%; 
  max-width: 400px; 
  height: auto; 
  position: absolute;
}

.macarrao img{
  padding-top: 6%;
  width: 17%; 
  max-width: 400px; 
  height: auto; 
  position: absolute;
  bottom: 5%;
  right: 0%;    
}

#home {
  background-image: url(imagens/imagem-home/italian\ restaurant\ \(Apresentação\)\ \(3\).png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .centro {
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

#home .centro .chapeu img{
  width: 150px;
}

#home .centro h2{
  font-size: 18px;
  padding: 10px;
}

#home .centro h1{
  font-size: 85px;
}

#home .centro h3{
  margin: 20px;
}

#home .centro h3 span{
  background-color: darkgreen;
  color: white;
  padding: 10px;
}

#home .centro h4{
  padding: 20px;
  font-size: 18px;
}

#home button{
  background-color: #9b050f;
  color: white;
  padding: 10px;
  margin: 30px 50px 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#home button:hover{
  transform: scale(1.05);
}

/*SECTION INSTA*/
#insta{
  background-color: #FFF3E6;
  padding: 4% 0;
}

.titulo {
  text-align: center;
  padding-bottom: 3%;
}

.titulo h2 {
  font-size: 14px;
  font-weight: 500;
  color: #4F2C1D;
}

.titulo h1 {
  font-size: 56px;
  color: #4F2C1D;
  padding-bottom: 25px;
}

.titulo button {
  color: white;
  padding: 8px 22px;
  border: 1px solid #4F2C1D;
  background-color: #bc1823;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.titulo button:hover{
  transform: scale(1.05);
  

}

/*fotos do insta*/
.fotos-insta {
  text-align: center;
}

.fotos-insta .linha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  gap: 8px;
  padding: 4px;
}

.fotos-insta img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  display: block;
}

.fotos-insta .imagem{
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.overlay i{
  text-align: center;
}

.imagem:hover .overlay {
  opacity: 1;
}
