@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&display=swap');


:root {
  --cor-primaria: #8B0000;
  --cor-secundaria: #5A3D28;
  --cor-destaque: #D4A018;
  --cor-fonte: #FFFFFF;
  --cor-fundo: #F5F5F5;

  --fonte-serif: "Playfair Display", serif;
  --font-sans-serif: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-serif);
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: var(--font-sans-serif);
}

a, button{
  cursor: pointer;
}
/* ========================== HEADER ========================== */

header {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  z-index: 10;
  display: flex;
  align-items: center;
}

header h1 {
  color: var(--cor-fonte);
  font-size: 38px;
  cursor: pointer;
}

header button {
  max-height: 30px;
  justify-content: center;
  color: var(--cor-fonte);
  padding: 1px 10px;
  border: 1px solid var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
  margin-left: 20px;
}

header button:hover {
  transform: scale(1.05);
}

nav {
  width: 100%;
  display: flex;
  font-size: 19px;
  padding-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: auto;
}

nav a {
  display: flex;
  position: relative;
  color: var(--cor-fonte);
  text-decoration: none;
  font-weight: 600;
  padding: 0px 12px;
  transition: color 0.3s ease;
  cursor: pointer;
}

nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--cor-destaque);
  transition: width 0.4s ease-out, left 0.4s ease-out;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}

nav a:hover {
  color: var(--cor-destaque);
}

/* ========================== HOME ========================== */

#home {
  padding-top: 20px;
  width: 100%;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--cor-fundo);
}

.carrossel {
  width: 96%;
  max-width: 3000px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carrossel-track {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 30s ease-in-out infinite;
}

.carrossel-track img {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(-100%);
  }

  66% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

#home .text-center {
  display: flexbox;
  z-index: 999;
  text-align: center;
  position: absolute;
  margin-top: 140px;
}

#home .text-center h1 {
  color: var(--cor-fonte);
  font-size: 58px;
}

#home .text-center p {
  color: var(--cor-fonte);
  font-size: 20px;
  max-width: 65%;
  padding: 20px;
  margin: auto;
  font-weight: 550;
}

#home .text-center button {
  padding: 12px 25px;
  margin: 20px;
  background-color: transparent;
  color: white;
  border: white solid 2px;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

#home .text-center button:hover {
  background-color: var(--cor-destaque);
  border: var(--cor-destaque) solid 2px;
}

/* ========================== SOBRE NÓS ========================== */

.main {
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0 60px 0;
}

.col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.main img {
  width: 250px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.main-col {
  margin-bottom: 100px;
  margin-right: 20px;
}

.main-col2 {
  margin-top: 140px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.col2 h1 {
  font-size: 36px;
  color: var(--cor-secundaria);
}

#icon {
  width: 50px;
  height: 100px;
  padding: 5px;
}

.col2 p {
  font-family: var(--font-sans-serif);
  text-align: center;
  margin: 20px 0;
  font-size: 15px;
  color: #333;
  font-weight: 500;
  padding: 0 10px;
}

.col2 button {
  padding: 13px 25px;
  background-color: var(--cor-primaria);
  color: var(--cor-fonte);
  border: none;
  border-radius: 12px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.col2 button:hover {
  background-color: var(--cor-destaque);
}

/* ========================== PROMOÇÕES ========================== */

#promocoes {
  background-color: var(--cor-fundo);
  text-align: center;
  width: 100%;
  padding: 80px 0;
}

#promocoes h1 {
  font-size: 60px;
  margin-top: 15px;
  color: var(--cor-secundaria);
}

#promocoes .conteiner {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 20px;
}

#promocoes .menu {
  text-align: center;
  width: 250px;
  height: 380px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  color: #000000;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.404);
}

#promocoes .menu img {
  width: 95%;
  border-radius: 20px;
  padding-top: 8px;
  height: 250px;
  padding-bottom: 10px;
  object-fit: cover;
  display: block;
}

#promocoes .menu h3 {
  padding-top: 8px;
  font-size: 18px;
}

#promocoes .menu p {
  font-size: 16px;
  font-weight: bold;
}

#promocoes .botao_inicial {
  margin-top: 30px;
}

#promocoes button {
  background-color: var(--cor-primaria);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 9px;
  margin-top: 35px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

#promocoes button:hover {
  transform: scale(1.05);
}

/* ========================== INSTAGRAM ========================== */

#insta {
  background-color: var(--cor-fundo);
  padding: 4% 0;
}

.titulo {
  text-align: center;
  padding-bottom: 3%;
}

.titulo h2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--cor-secundaria);
}

.titulo h1 {
  font-size: 56px;
  color: var(--cor-secundaria);
  padding-bottom: 25px;
}

.titulo button {
  color: var(--cor-fonte);
  padding: 10px 22px;
  border: 1px solid var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.titulo button:hover {
  transform: scale(1.05);
}

.fotos-insta {
  text-align: center;
}

.fotos-insta .linha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 80%;
  margin: auto;
  gap: 8px;
  padding: 4px;
}

.fotos-insta img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  display: flex;
  transition: 0.3s ease-in-out;
}

.fotos-insta .imagem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.imagem:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: var(--cor-fonte);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.overlay i {
  text-align: center;
}

.imagem:hover .overlay {
  opacity: 1;
}

/* ========================== RESERVAS ========================== */

#reserva {
  background-color: var(--cor-fundo);
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#reserva .texto {
  max-width: 40%;
  padding: 40px;
  text-align: justify;
  flex: 1 1 400px;
  margin: auto;
}

#reserva .texto h2 {
  font-size: 18px;
  color: #a77813;
  font-weight: 500;
  margin-bottom: 10px;
}

#reserva .texto h1 {
  font-size: 38px;
  color: var(--cor-secundaria);
  font-weight: 900;
  margin-bottom: 20px;
}

#reserva .texto p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: var(--font-sans-serif);
}

.form-reserva {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.form-reserva input,
.form-reserva select,
.form-reserva button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Verdana', sans-serif;
}

.form-reserva button {
  background-color: var(--cor-primaria);
  color: var(--cor-fonte);
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-reserva button:hover {
  background-color: var(--cor-destaque);
}

#reserva .quadrado {
  max-width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  flex: 1 1 400px;
  display: flex;
  justify-content: flex-end;
}

#reserva img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* ========================== RODAPÉ ========================== */

#rodape {
  background-color: var(--cor-secundaria);
  color: var(--cor-fonte);
  padding: 30px 0 20px;
}

#rodape p{
  font-family: var(--font-sans-serif);
}

.container-rodape {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.coluna {
  flex: 1 1 300px;
}

.coluna h2,
.coluna h3 {
  color: var(--cor-destaque);
  margin-bottom: 12px;
  font-size: 28px;
}

.coluna p {
  font-size: 14px;
  margin-bottom: 8px;
}

.redes-sociais a {
  color: var(--cor-fonte);
  margin-right: 12px;
  font-size: 22px;
  transition: color 0.3s ease-in-out;
}

.redes-sociais a:hover {
  color: var(--cor-destaque);
}

.copy {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: var(--cor-fonte);
}

/* ========================== RESPONSIVIDADE MOBILE ========================== */
/*header*/
@media (max-width: 890px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }

  header h1 {
    font-size: 28px;
    margin-top: -40px;
  }

  header button {
    margin: 10px 0 0 0;
    width: 100%;
  }

  /*home*/
  #home .text-center h1{
    font-size: 210%;
    padding: 0 10px;
  }

  #home p{
    display: none;
  }

  #home .text-center button{
    margin-top: 40px;
    border: none;
    background-color: var(--cor-destaque);
    transition: 0s;
  }

  /*sobre-nos*/

  #sobre-nos .main {
    flex-direction: column;
    overflow-x: hidden;
  }

  #sobre-nos .title {
    text-align: center;
  }
  
  #sobre-nos .col1 img {
    max-width: 90%;
    height: 250px;
  }

  #sobre-nos .col1, 
  #sobre-nos .col2 {
    width: 100%;
    max-width: 100%;
  }

  #sobre-nos .col2{
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .col2 img{
    display: none;
  }

  /*promocoes*/
  #promocoes{
    padding: 15% 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  #promocoes h1{
    font-size: 48px;
    margin-bottom: 50px;
  }

  #promocoes .conteiner {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 20px;
    margin: auto;align-items: center;
  }

  #promocoes .menu {
    flex: 0 0 auto;
    width: 28%;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    width: 250px;
    height: 380px;
  }
 
  #promocoes .menu img{
    width: 100%;
  }

  #promocoes .menu h3{
    padding-top: 10%;
    font-size: 16px;
  }
  
  /*reservas*/
  #reserva {
    flex-direction: column-reverse;
    padding: 60px 0;
  }

  #reserva .texto,
  #reserva .quadrado {
    max-width: 90%;
    padding: 20px;
    text-align: center;
  }

  /*insta*/
  #insta{
    padding: 80px 0 150px 0;
  }

  #insta .fotos-insta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #insta .imagem {
    flex: 1 1 calc(34% - 10px); 
    max-width: calc(34% - 10px); 
  }
  
  #insta .imagem img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  #insta .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  #insta .imagem:hover .overlay {
    opacity: 1;
  }
  
  /*rodape*/
  #rodape .container-rodape {
    align-items: center;
    text-align: center;
  }

  .coluna {
    margin-bottom: 10px;
  }
}

/* Menu mobile */
.menu-checkbox {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--cor-fonte);
  margin-left: auto;
  margin-top: 15px;
}

@media (max-width: 890px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor-secundaria);
    position: absolute;
    top: 55px;
    right: 0;
    padding: 20px 0;
    z-index: 999;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .menu-checkbox:checked ~ .nav-links {
    display: flex;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .nav-bar h1 {
    margin-bottom: 10px;
  }

  .nav-bar button {
    display: none;
  }
}
